@media only screen and (max-width: 1023px) {
  #ui-left, #ui-middle {
    display: none;
  }

  #ui-right {
    width: 100vw;

  }

  :root {
    --sidebar-width: 100%;
  }
  #sidebar {
    margin: 0;
    .collapse {
      display: none;
    }
  }

  .window-app {
    width: 100% !important;
    min-width: unset !important;
 
    left: 0 !important;
    background: black;
    
    &:not(.dialog) {
      top: 0 !important;
      height: 100% !important;
      max-height: unset !important;
    }
    .window-resizable-handle {
      display: none;
    }
    
  }

  .dnd5e2.sheet.actor.character {
    min-width: unset;
    min-height: unset;

    .sidebar {
      /*! left: 0; */
      justify-content: center;
      .card {
        max-width: var(--dnd5e-sheet-sidebar-width);
        .collapser {

        }
      }


      .rows {
        padding-left: 0;
        padding-right: 0;
        overflow-x: scroll;
      }

      .rows > div {
        gap: 0.75rem;
        justify-content: center;
      }

    }

    .ability-scores {
      left: 0;

      .rows {
        padding-left: 0;
        padding-right: 0;
        overflow-x: scroll;
      }

      .rows > div {
        gap: 0.75rem;
        justify-content: center;

      }
      /*! position: relative; */
      z-index: 2;
    }
    
    form.tab-details .sheet-body:has(+ section.ability-scores) .main-content {
      padding-top: 3.5rem;
    }

    .sheet-body .main-content {
      gap: 0;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      display: flex;
      flex-direction: column;
      
      .sidebar .card {
        margin: auto;
      }
    }
  }
  .dnd5e2 .items-section {
    .items-header .item-school, .item .item-school {
      width: 20px;
    }
    .items-header .item-controls, .item .item-controls {
      width: 50px;
    }
    .items-header .item-usage, .item .item-usage {
      width: 20px;
    }
    .items-header .item-range, .item .item-range {
      width: 40px;
    }
    .items-header .item-target, .item .item-target {
      width: 60px;
    }
    .items-header .item-roll, .item .item-roll {
      width: 20px;
    }
  }

  .dnd5e2.sheet.actor.character {
    .sheet-body .tab-body .details.col-2 {
      width: unset;
      display: flex;
      flex-direction: column
    }
    .main-content .tab-body {
      padding-top: 10px;
    }
    nav.tabs {
      position: absolute;
      flex-direction: row;
      gap: 1rem;
      margin-left: 1rem;
      left: unset;
      margin-right: auto;
      top: unset;
      bottom: 1rem;
      z-index: 2;
      
      > .item {
        margin-left: unset;
        border-radius: 4px;
        justify-content: center;
        padding-right: unset;
        height: 30px;
        width: 30px;
        
        &::after {
          inset: 0.125rem;
          border-radius: 5px;
          border-left: 1px solid var(--dnd5e-color-gold);
        }
      }
    }
  }
}